@charset "UTF-8";


[part="input-field"] {
	background: yellow;
}
:host(.yintestclass) [part="input-field"] {
	background: green;
}
[part="input-field"]:hover {
  box-shadow: inset 0 0 0 1px var(--lumo-contrast-50pct);
}
